<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />

        <!-- Include Moxtra JavaScript Library -->
        <script type="text/javascript" src="https://www.moxtra.com/api/js/moxtra-latest.js" id="moxtrajs"></script>
        
        <!-- Authenticate/Initialize and get the "Access Token" for the user -->
        <!-- Refer to the doc at https://developer.moxtra.com/docs/docs-oauth/#uniqueid to authenticate user based on UniqueID Method -->
        <!-- For other authentication methods and overview refer to the doc at https://developer.moxtra.com/docs/docs-authentication/ -->
        <!-- In this example user is authenticated and access token is passed as a URL parameter -->
        <!-- JS function to get access token from the URL parameter -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript" >
           
            function getToken(){
                var access_token;
        var client_id = "kDw16ZNxFhM";
        var client_secret = "hpOp4raxp3I";
        var uniqueid = "user" + Math.floor((Math.random() * 10) + 1);
        var timestamp = new Date().getTime();
        //var hash = CryptoJS.HmacSHA256(client_id + "" + uniqueid + "" + timestamp, client_secret);
        //var signature = rtrim(strtr(CryptoJS.enc.Base64.stringify(hash), '+/', '-_'), '=');
        var firstname = uniqueid;

        $.ajax({
            method: "POST",
            url: "https://apisandbox.moxtra.com/oauth/token",
            data: {
                client_id: client_id,
                client_secret: client_secret,
                grant_type: "http://www.moxtra.com/auth_uniqueid",
                uniqueid: uniqueid,
                timestamp: timestamp,
                //signature: signature,
                firstname: firstname
            },
            async: false,
            success: function(data, textStatus, jqXHR) {
                access_token = data.access_token;
                //alert(access_token);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus);
            }
        });
            
            if (access_token) {
                // Initialize Moxtra SDK Object
                var options = {
                    mode: "sandbox", 
                    client_id: client_id, //
                    access_token: access_token,
                    invalid_token: function(event) {
                        //Triggered when the access token is expired or invalid
                        //alert("Access Token expired for session id: " + event.session_id);
                    }
                };
                Moxtra.init(options);
            }
            else {
                //Authenticate and get access token for the user before proceeding further
                console.log ("No access token found");
            }
        }
        </script>
        
        <!-- Start Chat Function -->
        <script type="text/javascript">
        function start_chat () {            
            var chat_options = {
                //unique id of the users who will be part of the chat. These users should already exist in Moxtra.
                //unique_id: "dhanush",  
                email: "",
                iframe: true,
                //ID of the HTML tag within which the chat window will show up. Refer https://developer.grouphour.com/moxo/docs-js-sdk/#conversation
                tagid4iframe: "chat-container",
                iframewidth: window.innerWidth-10,
                iframeheight: "680px",          
                autostart_meet: true,
                autostart_note: true,
                extension: { "show_dialogs": { "member_invite": true } },
                start_chat: function(event) {
                    console.log("Chat started binder ID: " + event.binder_id);
                    //Your application server can upload files to draw using the binder_id and access_token
                },
                start_meet: function(event) {
                    console.log("Meet started session key: " + event.session_key + " session id: " + event.session_id);
                },
                end_meet: function(event) {
                    console.log("Meet end event");
                },
                invite_member: function(event) {
                    console.log("Invite member into binder Id: " + event.binder_id);
                },
                request_note: function(event) {
                    console.log("Note start request");
                },
                error: function(event) {
                    console.log("Chat error code: " + event.error_code + " error message: " + event.error_message);
                }
            };            
            Moxtra.chat(chat_options);
        }
        </script>
            
    </head>
    <body >
        <script>getToken(); href=start_chat();</script>
        <div id="chat-container"></div>
    </body>
</html>